#container {
    width: 640px;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 2px black;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

#start {
    margin-top: 40px;
    text-align: center;
}

body {
    font-family: 'Concert One', cursive;
    background-image: url('../images/memphis-colorful.png');
    font-weight: bold;
}

h1 {
    font-size: 48px;
    color:  #4CAF50;
    margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
}

h2 {
    font-size: 26px;
}

div {
    margin-bottom: 10px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 5px #999;
}

.btn:hover {
    background-color: #3e8e41
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

#score-div {
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 24px;
    background-color: #d1dde4;
    width: 60%;
    border: solid black 2px;
    border-radius: 5px;
}

#qa-container {
    margin: 0 auto;
    width: 60%;
}

#questions {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

#choices {
    text-align: left;
}
#choices .btn {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

#sorry {
    color: red;
}

#btn-done {
    text-align: center;
}

#done {
    background-color: #007bff;
}

.counters {
    font-weight: bold;
}

#game-over {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: red;
}